

 
img {

  width: 200px;   
  height: 200px; 
  
}



h1 {
  color: black;
  
}


h2 {
  color: black;
  
}


#red {
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}


